/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */


 @import "bootstrap-sprockets";
 @import "bootstrap";


// _header.html.erb

.navbar-default {
    background-color: #333333;
    border-color: #333333;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand {
    color: #fff!important;
}

.navbar-nav {
  a {
    color: #fff!important;

  }
}

.dropdown-menu {
  background-color: #333;

}
.open {
  a:hover {
    background-color: #333!important;
  }
  a:focus {
    background-color: #333!important;

  }
}


// _footer.html.erb

footer {
  background-color: #333;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  margin-top: 70px;
}
